# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE/editor files
.vscode/
.idea/

# Env files
.env
.env.local

# NPM auth file — ⚠️ importante si tienes el token aquí
.npmrc

# Mac y otros
*.swp

*storybook.log
storybook-static
