:host{
  --primary-client-color-login-modal: #1D7CE3;
  --secondary-client-color-login-modal: #F0F0F0;
}

.app-colored-main-font {
    color: var(--primary-client-color-login-modal);
  }

.app-input{
     border-radius: 2px;
    width: 100%;

    .ant-select-selector {
      border-radius: 2px;
      width: 100%;
    }
}
.app-button {
    border-radius: 2px !important;
    background: var(--primary-client-color-login-modal);
    border-color: var(--primary-client-color-login-modal);
    color: white;

    &:hover {
      transition: all .5s;
      background: var(--secondary-client-color-login-modal);
      color: white !important;
      border-color: var(--secondary-client-color-login-modal) !important;
    }

    &.danger {
      background: white;
      color: red;
      border-color: red;

      &:hover {
        color: red !important;
        border-color: red !important;
      }
    }

    &.blue-button {
      background: #1D7CE3;
      border-color: #1D7CE3;
      color: white;

      &:hover {
        background: #1D7CE3;
        color: white !important;
        border-color: #1D7CE3 !important;
      }
    }

    &.app-cart-button {
      width: 90%;
      margin-bottom: 10px;
      padding: 5px 10px;
    }

    &.full{
      width: 100%;
    }

    &.middle{
      display: inline;
      width: 50%;
    }
  }
.app-link {
    cursor: pointer;
    color: var(--primary-client-color-login-modal);

    &.app-active-link {
      color: var(--primary-client-color-login-modal);

      path{
        color: var(--primary-client-color-login-modal);
        fill: var(--primary-client-color-login-modal);
      }
    }

    &.no-underline {
      text-decoration: none;
    }

    &:hover:not(.no-hover),
    &:active:not(.no-hover) {
      color: var(--secondary-client-color-login-modal);
    }

    &.no-hover:hover,
    &.no-hover:active {
      opacity: .9;
    }
  }
.login-form{
    min-width: 50%;

    @media (max-width: 767px) {
        transition: all .2s;
        min-width: 70%;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        transition: all .2s;
        min-width: 70%;
    }

    .error-message{
        text-align: center;
        color: red;
        font-family: 'Montserrat';
        margin-bottom: 20px;
    }

    .reminder-password-link{
        width: 100%;
        text-align: right;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .btn-submit{
        width: 100%;
        margin-bottom: 20px;
        border: none !important;
    }

    .not-register{
        width: 100%;
        text-align: center;
        a{
            text-decoration: none;
        }
    }
}
.app-modal {
    color: #262626;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    .ant-modal-content {
      border-radius: 2px;
      padding: 0;

      @media (max-width: 767px) {
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow: auto;
      }

      @media (min-width: 768px) and (max-width: 1023px) {}

    }

    .ant-modal-header {
      border-bottom: 1px solid #f0f0f0;


    }

    &.no-header-boreder {
      .ant-modal-header {
        border-bottom: none;
      }
    }

    .ant-modal-header {
      padding: 20px 40px 20px 20px;
    }

    .ant-modal-body,
    .ant-modal-footer {
      padding: 20px;
    }
  }